body {
	font-family: Courier, sans-serif;
}

body div {
	width: 260px;
	float: left;
	margin: auto 20px auto 20px;
}

.animalCard {
	border: 1px solid green;
	border-radius: 5px;
	margin: 5px;
	padding: 5px 5px 5px 10px;
}

h1 {
	margin-left: 30px;
}

h2 {
	margin-left: 10px;
}